[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
fastapi = "*"
uvicorn = "*"
gunicorn="*"
motor = "*"
cryptography = "*"
dnspython = "*"
fastapi-cache2 = {extras = ["redis"], version = "*"}
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.4"
